.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid tomato;
    gap: 30px;
}
.image img{
    width: 100%;
}
.image{
    padding: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
}
